@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 375px;
}

html {
  font-family: "Ubuntu";
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.prueba{ 
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
  object-position: top center;
}